<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{{ url_for('static', filename='triocast.js') }}"></script>
	<style>
	body {
		margin-bottom: 50px;
	}
	#logo {
		height: 200px;
		width: auto;
	}
	textarea {
		width: 500px;
	}
	label {
		display: block;
	}
	#msg-error {
		font-weight: 1.2;
		color: red;
	}
	</style>
</head>
<body>
<div class="container">
	<header>
		<h1>Welcome to Triocast</h1>
		<image src="{{ url_for('static', filename='TriocastClear.png') }}" id="logo">
	</header>

	<form role="form">
		<div class="form-group">
			<label>Message to send</label>
			<!-- <input id="message" autofocus"> -->
			<label id="msg-error"></label>
			<textarea id="message" autofocus></textarea>
		</div>
		<button type="button" class="btn btn-default" id="text">Click to send SMS message</button>
		<button type="button" class="btn btn-default" id="call">Click to make a voice call</button>
	</form>
</div>
</body>
</html>